@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #fff;
}
::selection {
	color: #fff;
	background: #FF7A00;
}
/*--- Banner ----*/
.banner-container {
	width: 100%;
	position: relative;
	padding: 0px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
	/*background: url("../images/banner-bg.jpg") no-repeat;*/
	background-size: 100% 100%;
	background-size: cover;
	position: relative;
}
.banner-container > img {
	width: 100%;
	
}
.banner-content {
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 0px;
	right: 0px;
}
.banner-content h2 {
	color: #fff;
	font-size: 3.5em;
	margin: 2% 0 30px;
	line-height: 1.2em;
}
.banner-content p {
	font-size: 1.6em;
	font-weight: normal;
	font-style: normal;
	color: #fff;
}
.heroText {
	margin-top: 20%;
}
.heroText h2 {
	border: none;
	color: #FFF;
	text-transform: uppercase;
	line-height: 50px;
	padding-bottom: 0;
	font-size: 45px;
	margin-bottom: 35px;
	font-weight: bold;
}
.heroText h2 span {
	border: none;
	color: #FFF;
	text-transform: uppercase;
	line-height: 50px;
	padding-bottom: 0;
	font-size: 45px;
	margin-bottom: 35px;
	font-weight: normal;
}

.caption {
    border-bottom: 1px solid #7a7a7a;
    border-top: 1px solid #7a7a7a;
    color: #a7a5a5;
    padding: 15px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    background-color: rgb(52 38 38 / 64%);
    padding: 1em;
}

/*Intro Content*/
#introText {
	padding: 50px 0;
	background: #FF7A00;
}
#introText h1 {
	font-size: 40px;
	margin: 0;
	padding-bottom: 16px;
	font-variant: small-caps;
	color: #fff;
}
#introText p {
	color: #FFD2A8;
	font-size: 16px;
}

/* Acerca de */
#acercaDe{
    padding-top:60px;	
}
#acercaDe .txtHead {
    background: #fff;
    padding: 20px 10px;
}
#acercaDe .txtHead .fa {
    font-size: 58px;
    color: #5E5E5E;
}
.tileBox p {
    background-color: #f0f0f0;
    font-size: 15px;
    color: #777777;
    padding: 20px;
    margin: 0px;
}

/* parlex */
.bg-parlex {
	padding-top: 0px;
	background-image: url('../img/banner-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.parlex-back { 
	padding: 60px 20px;
	background-color: rgba(0, 0, 0, 0.37);
	color: #FDFDFD !important;
}
.parlex-back h2{
	margin:0 20px;
}

/*tecnicas*/
.skilltitle {
    text-align: right;
    font-weight: 600;
    padding-right: 0px;
    margin-top: 15px;
}
.progress {
	border-radius: 0px;
	height: 10px;
	margin-top: 5px;
	background-color: #D6D6D6;
}
.progress .progress-bar {
	background-color: rgb(0, 187, 255) rgb(0, 187, 255) transparent transparent;
}
/*tecnicas*/
.chart {
	position: relative;
	display: inline-block;
	width: 154px;
	height: 154px;
	text-align: center;
	border-radius: 50%;
	background-color: #FFF;
}
.diagram { 
	margin: 2em 2em 2em 0;
	float: left;
}
.chart-text {
	margin-top: 106px;
}
.skillContainer{
	margin-bottom: 50px;	
	}
.skillBox { 
min-height:200px;
}
.container-sub {
	width: 100%;
	position: relative;
	margin: 0 auto;
}

.tileBox img{
    height: 24em;
}

.heading {
	padding-top:4em;
}

.progress {
    border-radius: 0px;
    height: 25px;
    margin-top: 10px;
    background-color: #D6D6D6;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #ff7a00;
    transition: width .6s ease;
}


.card-link a{
    color: #FF7A00;
    text-decoration: none;
    font-family: cursive;
    font-weight: bold;
    font-size: large;
}

footer {
	background: #FF7A00;
    color:white;
    font-size: large;
    text-align: center;
}
footer p{
    padding-top:1em;
}

.topHome{
    display: block;
    text-align: center;
    color: #ff7a00;
    background-color: #212529b8;
    padding: 0.5em;
}

.card img{
    height: 18em;
    border-bottom: 1px gray;
    padding:1em;
}

.card-body{
    border-top: 1px solid #dfd4d4;
    
}